<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.order.mapper.OrderMapper">

    <resultMap type="Order" id="OrderResult">
        <result property="orderId"    column="order_id"    />
        <result property="orderCode"    column="order_code"    />
        <result property="mealNumber"    column="meal_number"    />
        <result property="canteenId"    column="canteen_id"    />
        <result property="orderPrice"    column="order_price"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectOrderVo">
        select order_id, order_code, meal_number, canteen_id, order_price, status, error_reason, del_flag, create_time from rice_order
    </sql>

    <select id="selectOrderList" parameterType="Order" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        <where>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="mealNumber != null  and mealNumber != ''"> and meal_number = #{mealNumber}</if>
            <if test="timeList != null "> and create_time between #{timeList[0]} and #{timeList[1]}</if>
        </where>
    </select>

    <select id="selectOrderByOrderId" parameterType="Long" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where order_id = #{orderId}
    </select>

    <insert id="insertOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="orderId">
        insert into rice_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderCode != null">order_code,</if>
            <if test="canteenId != null">canteen_id,</if>
            <if test="orderPrice != null">order_price,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderCode != null">#{orderCode},</if>
            <if test="canteenId != null">#{canteenId},</if>
            <if test="orderPrice != null">#{orderPrice},</if>
            <if test="errorReason != null">error_reason = #{errorReason},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateOrder" parameterType="Order">
        update rice_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderCode != null">order_code = #{orderCode},</if>
            <if test="canteenId != null">canteen_id = #{canteenId},</if>
            <if test="orderPrice != null">order_price = #{orderPrice},</if>
            <if test="status != null">status = #{status},</if>
            <if test="errorReason != null">error_reason = #{errorReason},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteOrderByOrderId" parameterType="Long">
        delete from rice_order where order_id = #{orderId}
    </delete>

    <delete id="deleteOrderByOrderIds" parameterType="String">
        delete from rice_order where order_id in
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
</mapper>
