<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.android.mapper.AndroidLoginMapper">

    <resultMap type="AndroidUser" id="AndroidUserResult">
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="nickName" column="nick_name"/>
        <result property="email" column="email"/>
        <result property="phoneNumber" column="phonenumber"/>
        <result property="sex" column="sex"/>
        <result property="avatar" column="avatar"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="AndroidUserVo">
        select user_id, user_name, password, nick_name, email, phonenumber, sex, avatar, status, create_by, create_time, update_by, update_time, remark
        from rice_android_user
    </sql>

    <select id="androidLogin" parameterType="AndroidLoginBody" resultMap="AndroidUserResult">
        <include refid="AndroidUserVo"/>
        <where>
            <if test="userName != null  and userName != ''">and user_name = #{userName}</if>
            and del_flag=0
        </where>
    </select>

    <insert id="insertRefreshToken" parameterType="AndroidToken">
        insert into rice_token
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="refreshToken != null">refreshToken,</if>
            <if test="refreshTokenExpiresIn != null">refreshTokenExpiresIn,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="refreshToken != null">#{refreshToken},</if>
            <if test="refreshTokenExpiresIn != null">#{refreshTokenExpiresIn},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateRefreshToken" parameterType="AndroidToken">
        update rice_token
        <trim prefix="SET" suffixOverrides=",">
            <if test="refreshToken != null">refreshToken = #{refreshToken},</if>
            <if test="refreshTokenExpiresIn != null">refreshTokenExpiresIn = #{refreshTokenExpiresIn},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        <where>
            user_id = #{userId}
        </where>
    </update>

    <delete id="deleteRefreshToken" parameterType="AndroidToken">
        delete from rice_token
        <where>
            user_id = #{userId}
        </where>
    </delete>
</mapper>
