<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dish.mapper.CanteenDishMapper">

    <resultMap type="CanteenDish" id="CanteenDishResult">
        <result property="dishId"     column="dish_id"      />
        <result property="canteenId"     column="canteen_id"      />
    </resultMap>

    <select id="selectCanteenDish" parameterType="CanteenDish" resultMap="CanteenDishResult">
        select dish_id, canteen_id from rice_canteen_dish
        <where>
            <if test="dishId!=null">and dish_id=#{dishId}</if>
        </where>
    </select>

    <insert id="batchCanteenDish">
        insert into rice_canteen_dish(dish_id, canteen_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.dishId},#{item.canteenId})
        </foreach>
    </insert>

    <delete id="deleteCanteenDishByDishId" parameterType="Long">
        delete from rice_canteen_dish
        where dish_id=#{dishId}
    </delete>

    <delete id="deleteCanteenDishByDishIds" parameterType="String">
        delete from rice_canteen_dish
        where dish_id in
        <foreach item="dishId" collection="array" open="(" separator="," close=")">
            #{dishId}
        </foreach>
    </delete>

</mapper>
