<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dish.mapper.DishMapper">

    <resultMap id="canteenIdsResult" type="Dish" >
        <result property="canteenId" column="canteen_id"/>
    </resultMap>

    <resultMap type="Dish" id="DishResult">
        <result property="dishId" column="dish_id"/>
        <result property="typeId" column="type_id"/>
        <result property="dishesName" column="dishes_name"/>
        <result property="dishesType" column="dishes_type"/>
        <result property="url" column="url"/>
        <result property="price" column="price"/>
        <result property="shelfDate" column="shelf_date"/>
        <result property="onsale" column="onsale"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectDishVo">
        select rd.dish_id, rd.type_id, rd.dishes_name, rt.type_name as dishes_type, rd.url, rd.price, rd.shelf_date, rd.onsale, rd.status, rd.del_flag, rd.create_by, rd.create_time, rd.update_by, rd.update_time
        from rice_dish rd
            left join rice_dish_type rt on rd.type_id = rt.type_id
            <if test="canteenId != null">
                left join rice_canteen_dish rcd on rd.dish_id = rcd.dish_id
            </if>
    </sql>

    <select id="selectDishList" parameterType="Dish" resultMap="DishResult">
        <include refid="selectDishVo"/>
        <where>
            <if test="dishesName != null and dishesName != ''">
                and dishes_name like concat('%', #{dishesName}, '%')
            </if>
            <if test="canteenId != null">and rcd.canteen_id = #{canteenId}</if>
            <if test="typeId != null and typeId != ''">and rt.type_id = #{typeId}</if>
            <if test="price != null ">and price = #{price}</if>
            <if test="oneShelfDate != 0 ">and shelf_date like concat('%', #{oneShelfDate}, '%')</if>
            and rd.del_flag=0
        </where>
    </select>

    <select id="selectDishByDishId" parameterType="Long" resultMap="DishResult">
        <include refid="selectDishVo"/>
        where rd.dish_id = #{dishId}
        and rd.del_flag=0
        limit 1
    </select>

    <insert id="insertDish" parameterType="Dish" useGeneratedKeys="true" keyProperty="dishId">
        insert into rice_dish
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dishesName != null and dishesName != ''">dishes_name,</if>
            <if test="typeId != null ">type_id,</if>
            <if test="url != null">url,</if>
            <if test="price != null">price,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dishesName != null and dishesName != '' ">#{dishesName},</if>
            <if test="typeId != null ">#{typeId},</if>
            <if test="url != null">#{url},</if>
            <if test="price != null">#{price},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateDish" parameterType="Dish">
        update rice_dish
        <trim prefix="SET" suffixOverrides=",">
            <if test="dishesName != null and dishesName != ''">dishes_name = #{dishesName},</if>
            <if test="typeId != null ">type_id = #{typeId},</if>
            <if test="url != null">url = #{url},</if>
            <if test="price != null">price = #{price},</if>
            <if test="shelfDate != null">shelf_date = #{shelfDate},</if>
            <if test="onsale != null">onsale = #{onsale},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where dish_id = #{dishId}
    </update>

    <update id="updateDishByDishId" parameterType="Dish">
        update rice_dish
        set
        <if test="shelfDate != null">shelf_date = #{shelfDate}</if>
        where dish_id = #{dishId}
    </update>

    <update id="updateDishByDishIds" parameterType="Dish">
        update rice_dish
        set
        <if test="shelfDate != null">shelf_date = #{shelfDate}</if>
        where dish_id in
        <foreach item="d" collection="dishIds" open="(" separator="," close=")" >
            #{d}
        </foreach>
    </update>

    <update id="deleteDishByDishId" parameterType="Long">
        update rice_dish
        set del_flag=2
        where dish_id = #{dishId}
    </update>

    <update id="deleteDishByDishIds" parameterType="String">
        update rice_dish
        set del_flag=2
        where dish_id in
        <foreach item="dishId" collection="dishIds" open="(" separator="," close=")">
            #{dishId}
        </foreach>
    </update>

    <select id="checkDishUnique" parameterType="Dish" resultType="int">
        select count(1)
        from rice_dish
        where dishes_name=#{dishesName}
        <if test="dishId!=null">and dish_id!=#{dishId}</if>
        and del_flag=0
        limit 1
    </select>

    <update id="updateDishStatus" parameterType="Dish">
        update rice_dish
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where dish_id = #{dishId}
    </update>
</mapper>
