<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dish.mapper.DishTypeMapper">

    <resultMap type="DishType" id="DishTypeResult">
        <result property="typeId"    column="type_id"    />
        <result property="typeName"    column="type_name"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDishTypeVo">
        select type_id, type_name, status, del_flag, create_by, create_time, update_by, update_time from rice_dish_type
    </sql>

    <select id="selectDishTypeList" parameterType="DishType" resultMap="DishTypeResult">
        <include refid="selectDishTypeVo"/>
        <where>
            del_flag = 0
            <if test="typeName != null  and typeName != ''"> and type_name like concat('%', #{typeName}, '%')</if>
        </where>
    </select>

    <select id="selectDishTypeByTypeId" parameterType="Long" resultMap="DishTypeResult">
        <include refid="selectDishTypeVo"/>
        where del_flag = 0 and type_id = #{typeId}
    </select>

    <insert id="insertDishType" parameterType="DishType" useGeneratedKeys="true" keyProperty="typeId">
        insert into rice_dish_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeName != null">type_name,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeName != null">#{typeName},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDishType" parameterType="DishType">
        update rice_dish_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeName != null">type_name = #{typeName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where type_id = #{typeId}
    </update>

    <update id="deleteDishTypeByTypeId" parameterType="Long">
        update rice_dish_type
        set del_flag = 2
        where type_id = #{typeId}
    </update>

    <update id="deleteDishTypeByTypeIds" parameterType="String">
        update rice_dish_type
        set del_flag = 2
        where type_id in
        <foreach item="typeId" collection="array" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </update>

    <update id="updateDishTypeStatus" parameterType="DishType">
        update rice_dish_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where type_id = #{typeId}
    </update>

    <select id="checkDishTypeUnique" parameterType="DishType" resultType="int">
        select count(1)
        from rice_dish_type
        where type_name = #{typeName} and type_id != #{typeId} and del_flag = 0
        limit 1
    </select>

</mapper>
