<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ticket.mapper.TicketMapper">

    <resultMap type="Ticket" id="TicketResult">
        <result property="ticketId"    column="ticket_id"    />
        <result property="dishId"    column="dish_id"    />
        <result property="dishesName"    column="dishes_name"    />
        <result property="ticketNumber"    column="ticket_number"    />
        <result property="time"    column="time"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectTicketVo">
        select rt.ticket_id, rt.dish_id,rd.dishes_name,rt.time,rt.ticket_number,rt.create_time
        from `rice_ticket` rt
            left join rice_dish rd on rd.dish_id=rt.dish_id
    </sql>

    <select id="selectTicketList" parameterType="Ticket" resultMap="TicketResult">
        <include refid="selectTicketVo"/>
        <where>
            <if test="time != null "> and `time` = #{time}</if>
             and rd.del_flag=0
        </where>
        order by rt.ticket_number desc
        limit 10
    </select>

    <select id="selectTicketByTicketId" parameterType="Long" resultMap="TicketResult">
        <include refid="selectTicketVo"/>
        where ticket_id = #{ticketId}
    </select>

    <insert id="insertTicket" parameterType="Ticket">
        insert into rice_ticket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ticketId != null">ticket_id,</if>
            <if test="dishId != null">dish_id,</if>
            <if test="ticketNumber != null">ticket_number,</if>
            <if test="time != null">time,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ticketId != null">#{ticketId},</if>
            <if test="dishId != null">#{dishId},</if>
            <if test="ticketNumber != null">#{ticketNumber},</if>
            <if test="time != null">#{time},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <insert id="insertTickets">
        insert into rice_ticket
        <trim prefix="(" suffix=")" suffixOverrides=",">
           dish_id,ticket_number,`time`,create_time
        </trim>
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.dishId},#{item.ticketNumber},#{item.time},#{item.createTime})
        </foreach>
    </insert>

    <update id="updateTicket" parameterType="Ticket">
        update rice_ticket
        <trim prefix="SET" suffixOverrides=",">
            ticket_number = ticket_number+1,
        </trim>
        where ticket_id = #{ticketId}
    </update>

    <delete id="deleteTicketByTicketId" parameterType="Long">
        delete from rice_ticket where ticket_id = #{ticketId}
    </delete>

    <delete id="deleteTicketByTicketIds" parameterType="String">
        delete from rice_ticket where ticket_id in
        <foreach item="ticketId" collection="array" open="(" separator="," close=")">
            #{ticketId}
        </foreach>
    </delete>

    <select id="getTotalTime" resultType="int">
        select time from `rice_ticket` order by time desc limit 1
    </select>

    <select id="getDishTicket" parameterType="Ticket" resultMap="TicketResult">
        <include refid="selectTicketVo"/>
        <where>
            <if test="dishesName!=null">rd.dishes_name=#{dishesName}</if>
        </where>
        order by rt.time desc limit 7
    </select>

    <update id="resetUserVotes">
        update sys_user set votes = 0
    </update>

    <update id="updateUserVotes" parameterType="SysUser">
        update sys_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="votes != null">votes = #{votes},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <select id="selectTicketAmount" resultType="int">
        select sum(ticket_number) from rice_ticket;
    </select>
</mapper>
